## Methods and the  Python Documentation

In [2]:
def say_hello():
    print("hello")

In [3]:
say_hello()

hello

In [10]:
def say_hello(name = 'Default'):
    print(f'Hello {name}')

In [11]:
say_hello()

Hello Default

In [12]:
say_hello('Anup')

Hello Anup

In [15]:
def add_num(num1,num2):
    return num1 + num2

In [16]:
add_num(12,12)

24

In [17]:
result = add_num(12,12)

In [18]:
result

24

In [19]:
def print_result(num1, num2):
    print(num1 + num2)

In [20]:
result = print_result(12,12)

24

In [21]:
result

In [22]:
## print_result function does not the allow to save the result in a variable where return result allows it

In [27]:
## return and printing result ath the same time:
def return_print_result(num1,num2):
    print(num1 + num2)
    return num1 + num2

In [28]:
result = return_print_result(12,34)

46

In [29]:
result

46

In [35]:
# Data Type in Python: number, string... input in a function. As this programming language is dynamic data type, so this fuction accept all data type. And perform as data type 
def sum_numbers(num1, num2):
    return num1 + num2

In [36]:
sum_numbers(10,29)# addition

39

In [38]:
sum_numbers('10', '20') # concatenation of string

'1020'

### Functions with Logic

In [39]:
def even_odd_num(num):
    if num % 2 == 0:
        return "even"
    else:
        return "odd"

In [40]:
even_odd_num(10)

'even'

In [41]:
def even_check(number):
    return number % 2 == 0

In [42]:
even_check(21)

False

In [43]:
# RETURN  TRUE IF ANY NUMBER IS EVEN INSIDE A LIST

In [54]:
def check_even_list(num_list):
    # return all the even number in a list
    # placeholder variables
    even_numbers = []
    for number in num_list:
        if number %2 == 0:
            even_numbers.append(number)
        else:
            pass
    return even_numbers

In [55]:
check_even_list([1,3,5])

[]

In [56]:
check_even_list([2,3,5])

[2]

In [57]:
check_even_list([1,1,1,1,1,1,4])

[4]

In [58]:
check_even_list([2,4,6,7,8,9,2,3,4,5,6,100])

[2, 4, 6, 8, 2, 4, 6, 100]

### Functions and Tuple Unpacking

In [59]:
# Tuple review
stock_prices = [('APPL', 200), ('GOOG', 400), ('MSFT', 100)]

for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [61]:
for ticker, price in stock_prices:
    print(price + (0.1 * price))

220.0
440.0
110.0

In [65]:
work_hours = [('Muller', 299), ('Neur', 600), ('Sane', 800)]

In [66]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    
    
    return(employee_of_month, current_max)

In [68]:
result = employee_check(work_hours)

In [69]:
result

('Sane', 800)

In [70]:
name, hours = employee_check(work_hours)

In [71]:
name

'Sane'

In [72]:
hours

800

### Interactions between the functions
- develop three moug monkey game

In [73]:
# random module- shuffle

example = [1,2,3,4,5,6]

In [74]:
from random import shuffle

In [75]:
shuffle(example)

In [76]:
example

[1, 2, 6, 3, 4, 5]

In [80]:
result = shuffle(example)

result

In [81]:
type(result)

NoneType

In [83]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [84]:
result = shuffle_list(example)

In [85]:
result

[4, 1, 3, 2, 6, 5]

In [86]:
type(result)

list

In [89]:
mylist = [' ', 'O', ' ']

In [90]:
shuffle_list(mylist)

['O', ' ', ' ']

In [97]:
def player_guess():
    guess = ''
    
    while guess not in ['0', '1', '2']:
        
        guess = input("Pick a number: 0, 1,  or 2: ")
        
    return int(guess)

In [98]:
player_guess()

Pick a number: 0, 1,  or 2:
Pick a number: 0, 1,  or 2:
Pick a number: 0, 1,  or 2: 1

1

In [99]:
myindex = player_guess()

Pick a number: 0, 1,  or 2:
Pick a number: 0, 1,  or 2: 2

In [100]:
myindex

2

In [101]:
def check_guess(mylist, guess):
    if mylist[guess] == 'O':
        print("Correct!")
    else:
        print("Wrong guess!")
        print(mylist)

In [102]:
# initialization of the list
mylist = [' ', 'O', ' ']

#shuffle the list
mixedup_list = shuffle_list(mylist)

# User guess
guess   = player_guess()

#check guess
check_guess(mixedup_list, guess)

Pick a number: 0, 1,  or 2: 8
Pick a number: 0, 1,  or 2: 1
Correct!

In [104]:
nums = 3,5,6,7,1,2
target = 5
def find_loc(nums, target):
    for num in nums:
        print(num)
find_loc(nums, target)

3
5
6
7
1
2

### *args and **kwargs 
- arguments
    - arguments tuple
- keyward arguments
    - arguments dictionary

In [1]:
def myfunc(a,b):
    #return 5 % of the sum of a, b
    return sum((a,b)) * 0.05

In [2]:
myfunc(5,5)

0.5

In [3]:
def myfunc(a,b, c = 0, d = 0, e = 0):
    #return 5 % of the sum of a, b
    return sum((a,b,c,d)) * 0.05

In [5]:
myfunc(5,5,6,7)

1.1500000000000001

In [6]:
myfunc(5,5,6,7,8)

1.1500000000000001

In [7]:
myfunc(5,5,6,7,8,9)

TypeError: myfunc() takes from 2 to 5 positional arguments but 6 were given

-  myfunc() takes from 2 to 5 positional arguments but 6 were given: we call the function with the number of arguments whichs are not defined

In [8]:
def myfunc(*args):
    return sum(args) * 0.05

In [9]:
myfunc(5,6,7,8,9,3,4,5,7,8,100)

8.1

In [10]:
def myfunc(*args):
    for item in args:
        print(item)

In [11]:
myfunc(30,40,1,2,3,4,5,6,7,88,99,100)

30
40
1
2
3
4
5
6
7
88
99
100

In [12]:
def myfunc(*args):
    print(args)

In [13]:
myfunc(1,2,3,4,5)# args is as tuple for the function

(1, 2, 3, 4, 5)

In [16]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print("I did not find any fruit here")

In [17]:
myfunc(fruit = 'apple', veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [24]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[1],kwargs['fish']))

In [25]:
myfunc(10,22,33,4,fruit = 'apple',veggie = 'lettuce', meat = 'chicken', fish = 'salmon')

(10, 22, 33, 4)
{'fruit': 'apple', 'veggie': 'lettuce', 'meat': 'chicken', 'fish': 'salmon'}
I would like 22 salmon

### Exercise solution

In [ ]:
#1
def myfunc(*args):
    return sum(args)

In [65]:
#2
def myfunc(*args):
    return [item for item in args if item % 2 == 0]

In [66]:
myfunc(1,2,3,4,5,6,7,8,9,10)

[2, 4, 6, 8, 10]

In [73]:
#3
def myfunc(s):
    s1 = ''
    for pos in range(len(s)):
            if (pos + 1)%2 == 0:
                s1 += s[pos].upper()
            else:
                s1 += s[pos].lower()
    return s1

In [74]:
myfunc('AnupKumarGhosh')

'aNuPkUmArGhOsH'