## Python Statements
- For loops
- While loops
- Useful operations 
- List comprehensions in python

### For loops
- iteration
    - string, list, dictionary
- syntax:
    - my_iterable = [1,2,3]<br>
    for item_name in my_iterable:<br>
        print(item_name)

In [1]:
my_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [2]:
for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [3]:
for num in my_list:
    # check for even
    if num % 2 == 0:
        print(f'Even number: {num} ')
    else: 
        print(f'Odd number: {num}')

Odd number: 1
Even number: 2
Odd number: 3
Even number: 4
Odd number: 5
Even number: 6
Odd number: 7
Even number: 8
Odd number: 9
Even number: 10
Odd number: 11
Even number: 12
Odd number: 13
Even number: 14
Odd number: 15

In [4]:
#Summation
list_sum = 0
for num in my_list:
    list_sum = list_sum + num 
print(list_sum)

120

In [5]:
#String
for letter in "Hello World":
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [6]:
#String
for _ in "Hello World":
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [7]:
#Tuple
t = (1,2,3,4,5,6)
for num in t:
    print(num)

1
2
3
4
5
6

In [8]:
# tuple unpacking
my_list = [(1,2),(2,3),(3,4),(4,5),(5,6)]

In [9]:
len(my_list)

5

In [10]:
for item in my_list:
    print(item)

(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)

In [11]:
for (a,b) in my_list:
    print(a,b)

1 2
2 3
3 4
4 5
5 6

In [12]:
for (a,b) in my_list:
    print(a)
    print(b)

1
2
2
3
3
4
4
5
5
6

In [13]:
for a,b in my_list:
    print(a,b)

1 2
2 3
3 4
4 5
5 6

In [14]:
mylist = [(1,2,3), (4,5,6), (7,8,9)]

In [15]:
len(mylist)

3

In [16]:
for a,b,c in mylist:
    print(c)

3
6
9

In [17]:
# dictionary iteration
d = {'k1':1,'k2':3,'k3':4}
for item in d:
    print(item)

k1
k2
k3

In [18]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 3)
('k3', 4)

In [19]:
for key,value in d.items():
    print(value)

1
3
4

In [20]:
for value in d.values():
    print(value)

1
3
4

### While Loops
- Execute a block of code while some condition remains True
- Syntax:<br>
    - while some_boolean_condition:<br>
        do something<br>
    - while some_boolean_condition:<br>
        do something<br>
      else:<br>
        do something different

In [22]:
x = 0

while x < 5:
    print(f'The current value of x is : {x}')
    x += 1
else:
    print("X is not less than 3")

The current value of x is : 0
The current value of x is : 1
The current value of x is : 2
The current value of x is : 3
The current value of x is : 4
X is not less than 3

### break, continue, pass
- break: Breaks out of the current closest enclosing loop
- continue: Goes to top of the closest enclosing loop
- pass: Does nothing at all

In [24]:
x = [1,2,3]

for item in x:
    #comment
    pass

print("End of my script")

End of my script

In [25]:
mystring = 'hello'

In [28]:
for letter in mystring:
    if letter == 'e':
        continue
    print(letter)

h
l
l
o

In [29]:
for letter in mystring:
    if letter == 'e':
        break
    print(letter)

h

In [2]:
x = 0

while x < 5:
    break
    print(x)
    x += 1

In [4]:
x = 0

while x < 5:
    if x == 2:
        
        break
    print(x)
    x += 1

0
1

### Useful Operators
- range(start, stop, step)
- enumerate(string):  return the string letters index and leter in pair as tuple 
- zip(list1, list2, list3...): zip together for all parameter list.if the length of lists are the it took the sortest lenght list.
- in operator
- min()
- max()
- shuffle(): implace function from random
- randint(): rand function from random, select a random integer from given range.
- input(): input function, allow user to enter input

In [5]:
mylist = [1,2,3]

In [6]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [7]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [8]:
for num in range(0, 10, 2):
    print(num)

0
2
4
6
8

In [9]:
list(range(0,20,5))

[0, 5, 10, 15]

In [10]:
# enumerate motivation

index_count = 0

for letter in 'abcdef':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e
At index 5 the letter is f

In [15]:
#ENUMERATE FUNCTION
word = 'abcde'
for index,letter in enumerate(word):
    #print(index)
    #print(letter)
    #print('\n')
    print('At index {} the letter is {}'.format(index, letter))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [16]:
#zip function 
list1 = [1,2,3]
list2 = ['a','b','c']
list3 = [7,7,8]

for item in zip(list1,list2,list3):
    print(item)

(1, 'a', 7)
(2, 'b', 7)
(3, 'c', 8)

In [17]:
for a,b,c in zip(list1,list2,list3):
    print(c)

7
7
8

In [19]:
## in operator
'x' in [1,2,3]

False

In [21]:
'x' in ['x','x',4]

True

In [22]:
'key1' in {'key1': 3, 'key2': 5}

True

In [23]:
d = {'key1': 3, 'key2': 5}
3 in d.values()

True

In [24]:
 d= {'key1': 3, 'key2': 5}
3 in d.keys()

False

In [25]:
mylist = [1,4,5,6,7,8,9,100]

In [26]:
min(mylist)

1

In [27]:
max(mylist)

100

In [28]:
from random import shuffle

In [30]:
mylist =[2,6,7,8,10 ]

In [33]:
shuffle(mylist)

In [34]:
mylist

[7, 6, 8, 2, 10]

In [36]:
from random import randint

In [37]:
randint(0,100)

86

In [38]:
mynum = randint(0,10)

In [39]:
mynum

0

In [40]:
input("Enter the name: ")

Enter the name: Moni

'Moni'

In [41]:
result = input("Enter the name: ")

Enter the name: Pankaj

In [42]:
result

'Pankaj'

In [43]:
result = input("Enter the nnumber: ")

Enter the nnumber: 50

In [44]:
result

'50'

In [45]:
type(result)

str

In [46]:
float(result)

50.0

In [47]:
int(result)

50

In [48]:
result

'50'

In [49]:
result = int(input("Enter the nnumber: "))

Enter the nnumber: 40

In [50]:
type(result)

int

### List Comprehension

In [1]:
mystring = 'hello'

In [3]:
mylist  = []
for letter in mystring:
    mylist.append(letter)

In [4]:
mylist

['h', 'e', 'l', 'l', 'o']

In [5]:
mylist = [letter for letter in mystring]

In [6]:
mylist

['h', 'e', 'l', 'l', 'o']

In [10]:
mylist = [num**2 for num in range(0,11)]

In [11]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
mylist = [x for x in range(0,11) if x % 2 == 0]

In [14]:
mylist

[0, 2, 4, 6, 8, 10]

In [15]:
celcius = [0,10,11,33,55,77]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [16]:
fahrenheit

[32.0, 50.0, 51.8, 91.4, 131.0, 170.6]

In [17]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,11)]

In [18]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [19]:
#nesting loops
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x * y)

In [20]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [21]:
mylist = [x*y for x in  [2,4,6] for y in [100,200,300]]

In [22]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]